.block-end {
  grid-row-start: r2;
  grid-row-end: r3;
  grid-column-start: c1;
  grid-column-end: c2;
}

.block-end {
  font-size: 1.25rem;
  font-family: inherit;
  padding: 1rem;
  background: #fbfbfb;
  margin: 0.5rem 1rem;
  line-height: 0;
  border: solid 1px #6ef7c8;
  border-radius: 2px;
  color: #5cc1b3;
}

.block-end:active {
    background: #5cc1b3;
    color: #fbfbfb;
}

.block-end:disabled {
    background: #fbfbfb;
    color: #757882;
    border-color: #757882
}

svg {
    width: 50%;
    height: 50%;
}

path {
    fill: #fbfbfb;
    stroke: #757882;
}